@import responsive

.titleProCon
  display: flex
  flex-direction: column
  align-items: center
  color: #222222
  filter: drop-shadow(0px 0px 24px #FFFFFF) drop-shadow(0px 0px 24px #FFFFFF) drop-shadow(0px 0px 24px #FFFFFF)
  .subTitle
    font-size: 18px
    line-height: 100%
    +tablet
      font-size: 14px
  .mainTitle
    font-size: 72px
    font-weight: 900
    line-height: 100%
    margin-top: 8px
    +tablet
      font-size: 36px
      margin-top: 8px
